html{
  /* font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif; */
  /* font-family: "微软雅黑"; */
}

html,body{
  width: 100%;
  height:100%;
  font-size: 62.5%;
  padding:0;
  margin:0;
  overflow: auto;
}
h1,h2,h3,h4{
  margin:0;
  padding:0;
}
ul{
  list-style: none;
  margin:0;
  padding:0;
}
p{
  margin:0;
}
span{
  display:inline-block;
}
div{
  box-sizing: border-box;
}
input{
  border:0;
  outline: none;
}
button{
  border: 0;
  cursor: pointer;
  outline: none;
  font-family: "微软雅黑";
}
input::-webkit-input-placeholder{
            color:#b0b0b0;
            font-family: "微软雅黑";
        }
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
            color:#b0b0b0;
            font-family: "微软雅黑";
        }
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
            color:#b0b0b0;
            font-family: "微软雅黑";
        }
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
            color:#b0b0b0;
            font-family: "微软雅黑";
        }
